 {% extends 'base.html.twig' %}

{% block body %}
<div class=" row m-5 p-3" id="table-striped">

<div class="col-12">
    <div class="card shadow-lg mb-5 bg-body rounded">
      <div class="card-header mb-5">
        <h1 class="card-title text-center">GESTION DE RESERVAS</h1>
      </div>
      <section id="basic-horizontal-layouts">
        <div class="row match-height">
            <div class="col-12">
            <div class="card">
                <div class="card-header">
                <h4 class="card-title">Haz tu reserva</h4>
                </div>
                <div class="card-content">
                <div class="card-body">
                    <form class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                        <div class="col-md-4">
                            <label>Nombre</label>
                        </div>
                        <div class="col-md-8 form-group mb-3">
                            <input type="text" id="first-name" class="form-control" name="fname" placeholder="Introduce tu nombre">
                        </div>
                        <div class="col-md-4">
                            <label>Juego</label>
                        </div>
                        <div class="col-md-8 form-group mb-3">
                            <input type="juego" id="juego-id" class="form-control" name="juego-id" placeholder="Juego">
                        </div>
                        <div class="col-md-4">
                            <label>Participantes</label>
                        </div>
                        <div class="col-md-8 form-group mb-3">
                            <input type="number" id="contact-info" class="form-control" name="participantes" placeholder="Participantes">
                        </div>
                        <div class="col-md-4">
                            <label for="desde">Fecha de inicio</label>
                        </div>
                        <div class="col-md-8 form-group mb-3">
                            <input type="text" id="desde" class="form-control" name="horaInicio" placeholder="Fecha de Inicio">
                        </div>
                        <div class="col-md-4">
                            <label for="hasta">Fecha de salida</label>
                        </div>
                        <div class="col-md-8 form-group mb-3">
                            <input type="text" id="hasta" class="form-control" name="horaInicio" placeholder="Fecha de Salida">
                        </div>
                        {# <div class="col-12 col-md-8 offset-md-4 form-group">
                            <div class='form-check'>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox1" class='form-check-input' checked>
                                    <label for="checkbox1">Remember Me</label>
                                </div>
                            </div>
                        </div> #}
                        <div class="col-sm-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-1 mb-1">Reservar</button>
                            <button type="reset" class="btn btn-light-secondary me-1 mb-1">Cancelar</button>
                        </div>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
            
        </div>
    </section>
    </div>
     
</div>

</div>


    <!-- Basic Horizontal form layout section start -->
    
    <!-- // Basic Horizontal form layout section end -->


{% endblock %}
